runtime:
  library: caikit_nlp
  local_models_dir: /mnt/models/
  lazy_load_local_models: true

model_management:
  finders:
    default:
      type: MULTI
      config:
        finder_priority:
        - tgis-auto
    tgis-auto:
      type: TGIS-AUTO
      config:
        test_connection: true
  initializers:
    default:
      type: LOCAL
      config:
        backend_priority:
        - type: TGIS
          config:
            local:
              load_timeout: 5000 # only relevant with the 1-container architecture
{% if 'NUM_GPUS' in kserve_deploy_model_sr_kserve_extra_env_values %}
              num_gpus: {{ kserve_deploy_model_sr_kserve_extra_env_values['NUM_GPUS'] }}
{% endif %}
            connection:
              hostname: localhost:8033
