name: "{{ server_deploy_ldap_idp_name }}"
mappingMethod: claim
type: LDAP
ldap:
  attributes:
    email: []
    id:
      - dn
    name:
      - cn
    preferredUsername:
      - uid
  bindDN: 'cn=admin,dc=example,dc=org'
  bindPassword:
    name: ldap-bind-password
  insecure: true
  url: 'ldap://openldap.openldap.svc.cluster.local:1389/dc=example,dc=org?uid'
