{
  "clusterName": "clusterName",
  "clusterID": "clusterId",
  "infraID": "infraID",
  "aws": {
    "region": "{{ cluster_region }}",
    "identifier": [
      {
        "kubernetes.io/cluster/{{ cluster_tag }}": "{{ cluster_destroy_ocp_tag_value }}"
      }
    ],
    "clusterDomain": "clusterDomain"
  }
}
