apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: ansible-wisdom
  namespace: {{ wisdom_deploy_model_namespace }}
  annotations:
    serving.kserve.io/deploymentMode: ModelMesh
spec:
  predictor:
    model:
      modelFormat:
        name: wisdom
      runtime: {{ wisdom_deploy_model_serving_runtime_name }}
      storage:
        key: wisdom-cos-dev
        path: wisdom-ansible-v11.4.4/wisdom-ansible_v11.4.4_20230523-1_onnx/
