apiVersion: v1
kind: Pod
metadata:
 name: wisdom-tester
spec:
  containers:
  - name: wisdom-tester
    image: {{ wisdom_tester_image }}
    command:
    - /bin/entrypoint.sh
    env:
    - name: WISDOM_NAMESPACE
      value: "{{ wisdom_deploy_model_namespace }}"
    volumeMounts:
    - name: entrypoint
      mountPath: /bin/entrypoint.sh
      readOnly: true
      subPath: entrypoint.sh
    - name: protos
      mountPath: /etc/protos
      readOnly: true
  restartPolicy: Never
  volumes:
  - name: entrypoint
    configMap:
      defaultMode: 0700
      name: wisdom-tester-entrypoint
  - name: protos
    secret:
      secretName: wisdom-protos
