apiVersion: v1
kind: ConfigMap
metadata:
  name: model-serving-config
  namespace: redhat-ods-applications
data:
  config.yaml: |
    internalModelMeshEnvVars:
      - name: MM_SCALEUP_RPM_THRESHOLD
        value: "1"
      - name: JAVA_TOOL_OPTIONS
        value: "-Dtas.min_churn_age_ms=5000"
