{
  "clusterName": "clusterName",
  "clusterID": "clusterId",
  "infraID": "infraID",
  "aws": {
    "region": "{{ deletion_cluster_region }}",
    "identifier": [
      {
        "{{ deletion_tag_identifier }}": "{{ deletion_tag_value }}"
      }
    ],
    "clusterDomain": "clusterDomain"
  }
}
