---
- name: Map long variable names to short aliases
  include_tasks: "../../shared_tasks/map_variables.yml"
  vars:
    benchmark_role_name: "container_bench_iperf_net_bridge_benchmark"

# Reference variables to satisfy validation (they are used dynamically in map_variables.yml)
- name: Validate required variables are defined
  assert:
    that:
      - container_bench_iperf_net_bridge_benchmark_exec_time_path is defined
      - container_bench_iperf_net_bridge_benchmark_binary_path is defined
      - container_bench_iperf_net_bridge_benchmark_rootfull is defined
      - container_bench_iperf_net_bridge_benchmark_additional_args is defined
  when: false  # This task never runs but validates variable definitions

- name: Set benchmark commands
  set_fact:
    image_to_pull: "docker.io/mlabbe/iperf3:3.17.1-r0"
    log_file_name: "iperf_net_bridge.log"
    prepare_commands: |
      {{ binary_path }} {{ additional_args }} network create iperf-test
      {{ binary_path }} {{ additional_args }} run -d --network iperf-test --name iperf3-server docker.io/mlabbe/iperf3:3.17.1-r0 -s -d
    cleanup_commands: |
      {{ binary_path }} {{ additional_args }} stop iperf3-server
      {{ binary_path }} {{ additional_args }} rm -f iperf3-server
      {{ binary_path }} {{ additional_args }} network rm iperf-test
      {{ binary_path }} {{ additional_args }} rmi -f docker.io/mlabbe/iperf3:3.17.1-r0
    benchmark_command: |
      {{ binary_path }} {{ additional_args }} run --rm --network iperf-test docker.io/mlabbe/iperf3:3.17.1-r0 -c iperf3-server

- name: Include Unix/Linux tasks
  include_tasks: "../../shared_tasks/unix_synthetic_benchmark_body.yml"
  when: ansible_os_family != 'Windows'

- name: Include Windows tasks
  include_tasks: "../../shared_tasks/windows_synthetic_benchmark_body.yml"
  when: ansible_os_family == 'Windows'
