[submodule "projects/core/subprojects/matrix-benchmarking"]
	path = projects/matrix_benchmarking/subproject
	url = https://github.com/openshift-psap/matrix-benchmarking
	branch = main
[submodule "projects/llm_load_test/subprojects/llm-load-test"]
	path = projects/llm_load_test/subprojects/llm-load-test
	url = https://github.com/sjmonson/llm-load-test
	branch = fix/openai_refactor
