apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ cluster_preload_image_name }}
  namespace: {{ cluster_preload_image_namespace }}
spec:
  selector:
    matchLabels:
      name: {{ cluster_preload_image_name }}
  template:
    metadata:
      labels:
        name: {{ cluster_preload_image_name }}
    spec:
{% if cluster_preload_image_node_selector_key | length %}
      nodeSelector:
        {{ cluster_preload_image_node_selector_key }}: "{{ cluster_preload_image_node_selector_value }}"
{% endif %}
{% if cluster_preload_image_pod_toleration_key | length %}
      tolerations:
      - key: "{{ cluster_preload_image_pod_toleration_key }}"
        operator: "Exists"
        effect: "{{ cluster_preload_image_pod_toleration_effect }}"
{% endif %}
      containers:
      - name: preloader
        image: {{ cluster_preload_image_image }}
        command:
        - sleep
        - 1d
        securityContext:
          runAsUser: 999
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
