apiVersion: v1
kind: Pod
metadata:
 name: llm-load-test
 namespace: {{ wisdom_llm_load_test_namespace }}
spec:
  containers:
  - name: llm-load-test
    image: {{ llm_load_test_image }}
    imagePullPolicy: Always
    command:
    - bash
    - -c
    args:
    - |
      set -o errexit
      set -o pipefail
      set -o nounset
      set -o errtrace
      set -x
      cd /src/llm-load-test
      python3 ghz_frontend.py --wisdom_experiment
    env:
    - name: CONFIG_FILENAME
      value: "config.json"
    - name: CONFIG_PATH
      value: "/etc/load_test_config"
    volumeMounts:
    - name: config
      mountPath: /etc/load_test_config
    - name: dataset
      mountPath: /etc/load_test_dataset
    - name: aws-credentials
      mountPath: /root/.aws
    - name: protos
      mountPath: /etc/load_test_protos
  restartPolicy: Never
  volumes:
  - name: config
    configMap:
      defaultMode: 0700
      name: llm-load-test-config
  - name: protos
    secret:
      secretName: wisdom-protos
  - name: dataset
    secret:
      secretName: llm-load-test-dataset
  - name: aws-credentials
    secret:
      secretName: llm-load-test-s3-credentials
