apiVersion: datasciencepipelinesapplications.opendatahub.io/v1alpha1
kind: DataSciencePipelinesApplication
metadata:
  name: {{ pipelines_deploy_application_name }}
  namespace: {{ pipelines_deploy_application_namespace }}
spec:
  dspVersion: v2
  apiServer:
    image: quay.io/opendatahub/ds-pipelines-api-server:pr-74
    argoDriverImage: quay.io/opendatahub/ds-pipelines-driver:pr-74
    argoLauncherImage: quay.io/opendatahub/ds-pipelines-launcher:pr-74
  database:
    mariaDB:
      deploy: true
      pipelineDBName: mlpipeline
      pvcSize: 10Gi
      username: mlpipeline
  mlpipelineUI:
    deploy: true
    image: quay.io/opendatahub/ds-pipelines-frontend:latest
  objectStorage:
    minio:
      # Image field is required
      image: 'quay.io/opendatahub/minio:RELEASE.2019-08-14T20-37-41Z-license-compliance'
