apiVersion: v1
kind: ConfigMap
metadata:
  name: wisdom-tester-entrypoint
data:
  entrypoint.sh: |-
    #!/bin/bash
    set -o errexit;
    set -o pipefail;
    set -x
    env
    PROMPT="- name: Install python-3.12 on RHEL"
    CONTEXT=""
    cd /etc/protos
    
    grpcurl -plaintext -proto wisdomextservice.proto \
    -d "{ \"prompt\": \"${PROMPT}\", \"context\": \"${CONTEXT}\" }" \
    -H "mm-vmodel-id: ansible-wisdom" \
    modelmesh-serving.{{ wisdom_namespace }}.svc:8033 \
    caikit.runtime.WisdomExt.WisdomExtService/AnsiblePredict