__platforms: &all_platforms
  - podman
  - docker

ci_presets:
  to_apply: []

  variable_overrides: {}

  names: []

  local_config: null

  darwin:
    secrets.machine_info: info.darwin.yaml

  linux:
    secrets.machine_info: info.linux.yaml

  windows:
    secrets.machine_info: info.windows.yaml

secrets:
  dir:
    name: crc-container-bench-secret
    env_key: CONTAINER_BENCH_SECRET_PATH
  private_key_path: private_key
  machine_info: info.yaml
  opensearch_instances: opensearch.yaml

remote_host:
  info: "*$@secrets.machine_info"
  run_locally: false
  private_key_filename: "@secrets.private_key_path" # in the secret dir
  hostname: "" # This is set from machine info secret
  username: "" # This is set from machine info secret
  port: 22
  base_work_dir: "" # This is set from machine info secret
  ssh_flags:
    - "-oStrictHostKeyChecking=no"
    - "-oUserKnownHostsFile=/dev/null"
    - "-o LogLevel=ERROR"
    - "-oControlMaster=auto"
    - "-oControlPath=/tmp/ssh-%r@%h:%p"
    - "-oControlPersist=60s"
  system: "" # This is set from machine info secret
  arch: "" # This is set from machine info secret
  python_bin: python3
  podman_bin: podman
  docker:
    # To use Docker, you need to have Docker Desktop installed and running.
    # User must be logged in system to use Docker Desktop.
    enabled: true
    docker_bin: docker
  # Empty environment values are ignored.
  env:
    # Default PATH value is configured from secrets:
    PATH: "" # This is set from machine info secret
  home_is_base_work_dir: true
  verbose_ssh_commands: true
  exec_file_extension: "" # This is set from machine info secret

prepare:
  cleanup_on_exit: false

  brew:
    install_dependencies: false
    dependencies:
      - krunkit

  choco:
    install_dependencies: false
    dependencies:
      - podman-cli

  dnf:
    install_dependencies: false
    enable_docker_repo: true
    dependencies:
      - podman
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
      - krun
      # runtime
      - bsdtar
      # Podman build dependencies:
      - catatonit
      - conmon
      - containers-common-extra
      - gpgme-devel
      - libassuan-devel
      - libgpg-error-devel
      - libseccomp-devel
      - libselinux-devel
      - shadow-utils-subid-devel
      - make
      - sqlite-devel
      - systemd-devel
      - gcc
      - glib2-devel
      - glibc-devel
      - glibc-static
      - golang

  container_images:
    pull_images: true
    dir: "{@remote_host.base_work_dir}/images"
    images:
      - "quay.io/podman/hello:latest"
      - "docker.io/zyclonite/sysbench:1.0.21"
      - "docker.io/mlabbe/iperf3:3.17.1-r0"
      - "registry.fedoraproject.org/fedora:42"
      - "docker.io/library/registry:2"
      - "docker.io/tensorflow/tensorflow:latest-gpu"
      - "docker.io/library/alpine:3.22.2"
      - "docker.io/library/golang:1.24"
      - "docker.io/library/nginx:1.29.3-perl"

  podman:
    # Custom binary or repo version must be disabled for matbenchmarking
    custom_binary:
      # Zip needs to contains current architecture for remote_host
      enabled: false
      url: "https://hony.fedorapeople.org/podman-custom.zip"
      server_file: "podman-{@remote_host.arch}" # Always Linux
      client_file: "podman-{@remote_host.system}-{@remote_host.arch}{@remote_host.exec_file_extension}"
    repo:
      enabled: false
      url: https://github.com/containers/podman
      version: v5.4.0
      darwin:
        file: podman-remote-release-{@remote_host.system}_{@remote_host.arch}.zip
        zip: true
      windows:
        file: podman-remote-release-{@remote_host.system}_{@remote_host.arch}.zip
        zip: true
      linux:
        file: "{@prepare.podman.repo.version}.zip"
        zip: true

    stop_on_exit: true

    linux:
      rootful: false
      runtime: crun  # runc | crun

    machine:
      enabled: true
      force_configuration: false
      set_default: true
      name: podman-machine-default
      use_configuration: true
      configuration:
        cpus: 12 # in cores
        memory: 8116 # in MB
        rootful: false
      # Empty environment values are ignored.
      env:
      # Default machine provider is configured from secrets
        CONTAINERS_MACHINE_PROVIDER: "" # This is set from machine info secret
      # CONTAINERS_HELPER_BINARY_DIR: /opt/homebrew/bin/

cleanup:
  files:
    podman: true
    exec_time: true
    venv: true
    container_images: false

  podman_machine:
    delete: true

  docker_desktop:
    stop: true

  docker_service:
    stop: true

export_artifacts:
  enabled: false

# Container Benchmarks
#
# Each benchmark can define:
#   supported_container_engines: List of container engines that support the benchmark
#   runs: Number of times to run the benchmark
# If supported_container_engines is not defined, it defaults to ["podman", "docker"]

run_container_benchmark:
  runs: 10

exec_container_benchmark:
  runs: 10

commit_container_benchmark:
  runs: 10

create_container_benchmark:
  runs: 10

list_images_benchmark:
  runs: 10

pull_image_benchmark:
  runs: 10

remove_image_benchmark:
  runs: 10

remove_container_benchmark:
  runs: 10

load_image_benchmark:
  runs: 10

save_image_benchmark:
  runs: 10

start_container_benchmark:
  runs: 10

parallel_remove_image_benchmark:
  runs: 10

image_build_large_build_context_benchmark:
  runs: 10

artifact_add_benchmark:
  runs: 10
  supported_container_engines:
    - podman


# Synthetic Benchmarks
sysbench_cpu_benchmark:
  runs: 1

sysbench_memory_read_benchmark:
  runs: 1

sysbench_memory_write_benchmark:
  runs: 1

sysbench_fileio_container_benchmark:
  runs: 1

sysbench_fileio_mount_benchmark:
  runs: 1

iperf_net_bridge_benchmark:
  runs: 1

iperf_net_host_benchmark:
  runs: 1

iperf_host_to_container_benchmark:
  runs: 1

test:
  platform: *all_platforms
  platforms_to_skip:
  benchmark:
    - run_container_benchmark
    - exec_container_benchmark
    - image_build_large_build_context_benchmark
    # - artifact_add_benchmark
    - sysbench_cpu_benchmark
    - sysbench_memory_read_benchmark
    - sysbench_memory_write_benchmark
    - sysbench_fileio_container_benchmark
    - sysbench_fileio_mount_benchmark
    - iperf_net_bridge_benchmark
    - iperf_net_host_benchmark
    - iperf_host_to_container_benchmark
    - commit_container_benchmark
    - create_container_benchmark
    - list_images_benchmark
    - pull_image_benchmark
    - remove_image_benchmark
    - remove_container_benchmark
    - start_container_benchmark
    - load_image_benchmark
    - save_image_benchmark
    - parallel_remove_image_benchmark
  podman:
    machine_provider:
     - libkrun
     - applehv
     - wsl
     - hyperv
    rootful:
     - true
     - false
    repo_version:
     - v5.4.2
     - v5.7.0
     # - custom
    runtime: # Linux only
     - crun
     - runc
  capture_metrics:
    enabled: true

  matbenchmarking:
    enabled: true
    stop_on_error: true
    iterable_test_fields:
     - test.platform
     - test.podman.repo_version
    # - test.podman.rootful
    # - test.podman.machine_provider
    # - test.podman.runtime
    map_iterable_test_fields:
      test.platform: test.platform
      test.podman.repo_version: prepare.podman.repo.version
      test.podman.rootful:
        - prepare.podman.machine.configuration.rootful
        - prepare.podman.linux.rootful
      test.podman.runtime: prepare.podman.linux.runtime
      test.podman.machine_provider: prepare.podman.machine.env.CONTAINERS_MACHINE_PROVIDER

matbench:
  enabled: true
  workload: projects.container_bench.visualizations.benchmark
  preset: null
  config_file: plots.yaml
  download:
    mode: prefer_cache
    url:
    url_file:
    # if true, copy the results downloaded by `matbench download` into the artifacts directory
    save_to_artifacts: false
  # directory to plot. Set by topsail/testing/visualize.py before launching the visualization
  test_directory: null

exec_list:
  _only_: false

  pre_cleanup_ci: null
  prepare_ci: null
  test_ci: null
  post_cleanup_ci: null
  matbench_run: true
  generate_plots_from_pr_args: true
