---
- name: Create the artifacts directory
  file:
    path: "{{ artifact_extra_logs_dir }}/artifacts"
    state: directory
    mode: '0755'

- name: Capture the system versions (MacOS)
  shell:
    system_profiler SPSoftwareDataType SPHardwareDataType > "{{ artifact_extra_logs_dir }}/artifacts/system_profiler.txt"
  when: ansible_os_family == 'Darwin'

- name: Capture the system versions (Linux)
  shell:
    cat /etc/os-release > "{{ artifact_extra_logs_dir }}/artifacts/os-release"
  when: ansible_os_family == 'Linux'
