---
apiVersion: v1
kind: BuildConfig
metadata:
  labels:
    app: ci-artifacts
  name: gpu-operator-driver
  namespace: gpu-operator-ci
spec:
  output:
    to:
      kind: ImageStreamTag
      name: "{{ driver_imagestreamtag }}"
      namespace: gpu-operator-ci
  resources: {}
  source:
    type: Git
    git:
      uri: "{{ gpu_operator_driver_git_repo }}"
      ref: "{{ gpu_operator_driver_git_ref }}"
    contextDir: rhel8
  triggers:
    - type: ConfigChange
  strategy:
    type: Docker
    dockerStrategy:
      buildArgs:
        - name: PRIVATE_KEY
          value: ""
        - name: DRIVER_VERSION
          value: "{{ driver_version }}"
        - name: DRIVER_BRANCH
          value: "{{ driver_branch }}"
      dockerfilePath: Dockerfile
