---
apiVersion: v1
kind: BuildConfig
metadata:
  labels:
    app: ci-artifacts
  name: gpu-operator-validator
  namespace: gpu-operator-ci
spec:
  output:
    to:
      kind: ImageStreamTag
      name: "{{ validator_imagestreamtag }}"
      namespace: gpu-operator-ci
  resources: {}
  source:
    type: Git
    git:
      uri: "{{ gpu_operator_git_repo }}"
      ref: "{{ gpu_operator_git_ref }}"
    contextDir: .
  triggers:
    - type: ConfigChange
  strategy:
    type: Docker
    dockerStrategy:
      buildArgs:
        - name: VERSION
          value: v0.1.0
        - name: GOLANG_VERSION
          value: '1.17'
        - name: CUDA_SAMPLE_IMAGE
          value: nvcr.io/nvidia/k8s/cuda-sample:vectoradd-cuda11.2.1-ubi8
        - name: CUDA_IMAGE
          value: nvidia/cuda
        - name: CUDA_VERSION
          value: 11.2.1
        - name: BASE_DIST
          value: ubi8
      dockerfilePath: validator/Dockerfile
