apiVersion: v1
kind: Pod
metadata:
  labels:
    app: gpu-operator-ci
  name: operator-bundle-image-builder-pod
  namespace: gpu-operator-ci
spec:
  containers:
  - command:
    - /bin/sh
    - /mnt/helper/run_operator_bundle_image_builder.sh
    image: image-registry.openshift-image-registry.svc:5000/gpu-operator-ci-utils/gpu-operator-ci-utils:builder_helper
    name: operator-image-builder
    imagePullPolicy: Always
    securityContext:
      privileged: true
    env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/kubeconfig
      - name: OPERATOR_GIT_REPO
        value: "{{ gpu_operator_git_repo }}"
      - name: OPERATOR_GIT_REF
        value: "{{ gpu_operator_git_ref }}"
      - name: OPERATOR_IMAGE_NAME
        value: "{{ operator_image_name }}"
      - name: VALIDATOR_IMAGE_VERSION
        value: "{{ validator_image_version }}"
      - name: IMAGESTREAM_SECRET_NAME
        value: "{{ builder_secret }}"
      - name: QUAY_BUNDLE_IMAGE_NAME
        value: "{{ quay_bundle_image_name }}"
    volumeMounts:
    - mountPath: /mnt/helper/run_operator_bundle_image_builder.sh
      name: operator-bundle-image-builder-script
      readOnly: true
      subPath: run_operator_bundle_image_builder.sh
    - mountPath: /var/run/secrets/openshift.io/push
      name: builder-dockercfg-push
      readOnly: true
    - mountPath: /etc/kubeconfig
      name: kubeconfig-secret
      readOnly: true
  nodeSelector:
    tuned.module.fuse: ""
  restartPolicy: Never
  volumes:
  - configMap:
      defaultMode: 511
      name: operator-bundle-image-builder-script
    name: operator-bundle-image-builder-script
  - name: builder-dockercfg-push
    secret:
      defaultMode: 384
      secretName: "{{ quay_push_secret_name }}" #"{{ builder_secret }}"
  - name: kubeconfig-secret
    secret:
      secretName: kubeconfig-secret