apiVersion: v1
kind: Pod
metadata:
  labels:
    app: gpu-operator-ci
  name: operator-image-builder-pod
  namespace: gpu-operator-ci
spec:
  containers:
  - command:
    - /bin/sh
    - /mnt/helper/run_operator_image_builder.sh
    image: "{{ helper_image_name }}"
    name: operator-image-builder
    imagePullPolicy: Always
    securityContext:
      privileged: true
    env:
      - name: OPERATOR_GIT_REPO
        value: "{{ gpu_operator_git_repo }}"
      - name: OPERATOR_GIT_REF
        value: "{{ gpu_operator_git_ref }}"
      - name: OPERATOR_IMAGE_NAME
        value: "{{ operator_image_name }}"
      - name: BUILDER_FROM_IMAGE
        value: "quay.io/openshift-psap/golang:1.17" # avoid using docker.io and its quotas...
    volumeMounts:
    - mountPath: /mnt/helper/run_operator_image_builder.sh
      name: operator-image-builder-script
      readOnly: true
      subPath: run_operator_image_builder.sh
    - mountPath: /var/run/secrets/openshift.io/push
      name: builder-dockercfg-push
      readOnly: true
  restartPolicy: Never
  volumes:
  - configMap:
      defaultMode: 511
      name: operator-image-builder-script
    name: operator-image-builder-script
  - name: builder-dockercfg-push
    secret:
      defaultMode: 384
      secretName: "{{ builder_secret }}"
