apiVersion: v1
kind: Node
metadata:
  annotations:
    node.alpha.kubernetes.io/ttl: "0"
    kwok.x-k8s.io/node: fake
    k8s.ovn.org/node-chassis-id: 00000000-0000-0000-0000-000000000000.
  labels:
    beta.kubernetes.io/arch: amd64
    beta.kubernetes.io/os: linux
    kubernetes.io/arch: amd64
    kubernetes.io/hostname: {{ kwok_set_scale_name }}
    kubernetes.io/os: linux
    kubernetes.io/role: {{ kwok_set_scale_role }}
    node-role.kubernetes.io/{{ kwok_set_scale_role }}: ""
    type: kwok
    topsail.machineset: {{ kwok_set_scale_name }}
{% if kwok_set_scale_taint %}
    "{{ taint_key }}": "{{ taint_value[1:] }}"
{% endif %}
  name: "{{ kwok_set_scale_name }}" # node index will be appended

spec:
{% if kwok_set_scale_taint %}
  taints:
    - effect: "{{ taint_effect }}"
      key: "{{ taint_key }}"
      value: "{{ taint_value[1:] }}"
{% endif %}

status:
  allocatable:
    cpu: {{ kwok_set_scale_cpu }}
    memory: {{ kwok_set_scale_memory }}Gi
    pods: {{ kwok_set_scale_pods }}
{% if kwok_set_scale_gpu is not none %}
    nvidia.com/gpu: {{ kwok_set_scale_gpu }}
{% endif %}
  capacity:
    cpu: {{ kwok_set_scale_cpu }}
    memory: {{ kwok_set_scale_memory }}Gi
    pods: {{ kwok_set_scale_pods }}
{% if kwok_set_scale_gpu is not none %}
    nvidia.com/gpu: {{ kwok_set_scale_gpu }}
{% endif %}

  nodeInfo:
    architecture: amd64
    bootID: ""
    containerRuntimeVersion: ""
    kernelVersion: ""
    kubeProxyVersion: fake
    kubeletVersion: fake
    machineID: ""
    operatingSystem: linux
    osImage: ""
    systemUUID: ""
  phase: Running
