# defined here the path to your local TOPSAIL repository
TOPSAIL_HOME=$HOME/path/to/topsail

# defined here the path to your TOPSAIL secrets
PSAP_ODS_SECRET_PATH=$PSAP_ODS_SECRET_PATH

KUBECONFIG=$KUBECONFIG

PYTHONPATH=$TOPSAIL_HOME
