apiVersion: v1
kind: Pod
metadata:
 name: wisdom-warmup
spec:
  containers:
  - name: wisdom-warmup
    image: {{ wisdom_tester_image }}
    command:
    - /bin/entrypoint.sh
    env:
    - name: WISDOM_NAMESPACE
      value: "{{ wisdom_warmup_model_namespace }}"
    - name: CONCURRENCY
      value: "{{ wisdom_warmup_model_concurrency }}"
    - name: TOTAL_REQUESTS
      value: "{{ wisdom_warmup_model_total_requests }}"
    volumeMounts:
    - name: entrypoint
      mountPath: /bin/entrypoint.sh
      readOnly: true
      subPath: entrypoint.sh
    - name: protos
      mountPath: /etc/protos
      readOnly: true
  restartPolicy: Never
  volumes:
  - name: entrypoint
    configMap:
      defaultMode: 0700
      name: wisdom-warmup-entrypoint
  - name: protos
    secret:
      secretName: wisdom-protos
