---
- name: Detect cloud provider type
  shell: |
    set -o pipefail;
    oc get machineset -n openshift-machine-api -o json | jq -r '
      .items[0].spec.template.spec.providerSpec.value |
      if has("profile") then "ibm"
      elif has("instanceType") then "aws"
      else "unknown"
      end'
  register: detected_cloud_provider
  failed_when: detected_cloud_provider.stdout == "unknown"

- name: Set IBM flag based on detected cloud provider
  set_fact:
    cluster_ensure_machineset_ibm: "{{ detected_cloud_provider.stdout == 'ibm' }}"

- name: Debug detected cloud provider
  debug:
    msg: "Detected cloud provider: {{ detected_cloud_provider.stdout }}, using IBM mode: {{ cluster_ensure_machineset_ibm }}"

- name: Set the instance type field
  set_fact:
    instance_type_field: "{% if cluster_ensure_machineset_ibm %}profile{% else %}instanceType{% endif %}"

- name: Check if the cluster already has a machineset of type {{ machineset_instance_type }}
  shell:
    set -o pipefail;
    oc get machineset -n openshift-machine-api
    {% if machineset_name | length > 0 %}
      -ojson | jq '.items[] | select(.spec.template.spec.providerSpec.value.{{ instance_type_field }}=="{{ machineset_instance_type }}" and .metadata.name=="{{ machineset_name }}") | .metadata.name' -r
    {% else %}
      -o=jsonpath='{.items[?(@.spec.template.spec.providerSpec.value.{{ instance_type_field }}=="{{ machineset_instance_type }}")].metadata.name}'
    {% endif %}
  register: cluster_has_machineset

- name: Delete the machineset if it is set but has the wrong instance type
  when: cluster_has_machineset.stdout | length == 0 and machineset_name | length > 0
  command:
    oc delete machineset {{ machineset_name }} -n openshift-machine-api --ignore-not-found

- name: Cluster already has machineset with required type
  when: cluster_has_machineset.stdout | length > 0
  debug: msg="Cluster already has a machineset with type '{{ machineset_instance_type }}', no need to create one"

- name: Create machineset with requested instance type, as the cluster does not have one
  when: cluster_has_machineset.stdout | length == 0
  block:
  - name: Derive the new machineset
    include_tasks: derive_machineset.yml
