base_image:
  namespace: topsail
  imagestream: topsail
  repo:
    url: https://github.com/openshift-psap/topsail/
    ref: main
    dockerfile_path: build/Dockerfile
  user:
    service_account: topsail
    role: cluster-admin
secrets:
  psap-ods-secret:
    env_key: PSAP_ODS_SECRET_PATH

workloads:
  notebook-scale-test:
    command_group: notebooks
    test_args:
    - icelake_notebook_test
    steps:
      prepare:
        command: notebooks test cleanup_rhods
      test:
        command: notebooks test run_tests_and_plots
      gather:
        command: utils gather-extra
        always_run: true

  pipelines:
    command_group: rhods
    test_args:
    - icelake
    steps:
      pre_cleanup_cluster:
        command: pipelines test cleanup_cluster_ci
      prepare:
        command: pipelines test prepare_ci
      test:
        command: pipelines test test_ci
      post_cleanup_cluster:
        command: pipelines test cleanup_cluster_ci
        alway_run: true

  codeflare-light:
    command_group: rhods
    test_args:
    steps:
      test:
        command: codeflare test test_ci

  load-aware-light:
    command_group: rhods
    test_args:
    steps:
      test:
        command: load-aware test test_ci

  kserve:
    command_group: rhods
    test_args:
    steps:
      pre_clean_up:
        command: kserve test cleanup_cluster
      prepare:
        command: kserve test prepare_ci
      rebuild:
        command: kserve test rebuild_driver_image 459
      test:
        command: kserve test test_ci

  prepare_fine_tuning:
    command_group: rhods
    test_args:
    steps:
      prepare:
        command: fine_tuning test prepare_ci

  fine_tuning:
    command_group: rhods
    test_args:
    steps:
      test:
        command: fine_tuning test test_ci
