---
- name: Validate required variables are defined
  assert:
    that:
      - container_bench_list_images_benchmark_exec_time_path is defined
      - container_bench_list_images_benchmark_binary_path is defined
      - container_bench_list_images_benchmark_rootfull is defined
      - container_bench_list_images_benchmark_additional_args is defined
  when: false  # This task never runs but validates variable definitions

- name: Map long variable names to short aliases
  include_tasks: "../../shared_tasks/map_variables.yml"
  vars:
    benchmark_role_name: "container_bench_list_images_benchmark"

- name: Set common commands (shared across all platforms)
  set_fact:
    images_to_pull:
      - "docker.io/tensorflow/tensorflow:latest-gpu"
      - "registry.fedoraproject.org/fedora:42"
      - "docker.io/library/alpine:3.22.2"
      - "quay.io/podman/hello:latest"
      - "docker.io/library/golang:1.24"
      - "docker.io/library/nginx:1.29.3-perl"
    prepare_commands: "" # Image is pulled using shared pull_image task below
    cleanup_commands: "" # Cleanup handled by shared tasks
    benchmark_command: |
      {{ binary_path }} {{ additional_args }} images

- name: Include Unix/Linux tasks
  include_tasks: "../../shared_tasks/unix_default_benchmark_body.yml"
  when: ansible_os_family != 'Windows'

- name: Include Windows tasks
  include_tasks: "../../shared_tasks/windows_default_benchmark_body.yml"
  when: ansible_os_family == 'Windows'
