output:
  format: "json"
  dir: "{{ artifact_extra_logs_dir }}/output"
  file: "output.json"
warmup: false
storage:
  type: local
dataset:
  file: "datasets/openorca_large_subset_010.jsonl"
  max_queries: 3000
  max_input_tokens: 1024
  max_output_tokens: 512
load_options:
  type: constant #Future options: loadgen, stair-step
  concurrency: {{ llm_load_test_run_concurrency }}
  duration: "{{ llm_load_test_run_duration }}"
plugin: "tgis_grpc_plugin"
plugin_options:
  streaming: True
  model_name: "{{ llm_load_test_run_model_id }}"
  host: "{{ llm_load_test_run_host}}"
  port: 8033
extra_metadata:
  replicas: 1
