output_dir: "{{ artifact_extra_logs_dir }}/output"
warmup: false
storage:
  type: local
load_generator:
  type: ghz
  ghz_params:
    host: "{{ llm_load_test_run_host}}"
    skipTLS: true
    insecure: false
    disable-template-data: true
    proto: "{{ llm_load_test_run_protos_path }}"
    call: "{{ llm_load_test_run_call }}"
    # metadata is additional headers attached to the grpc request
    metadata:
      mm-model-id: "{{ llm_load_test_run_model_id }}"
    concurrency: 1
    total: 2000 # ignored
    duration: "{{ llm_load_test_run_duration }}"
    timeout: 60s
    rps: {{ llm_load_test_run_rps }} # rate limit, in requests per seconds
  multiplexed: true
  threads: {{ llm_load_test_run_threads }}
  input_dataset:
    filename: "openorca-subset-006.json"
    max_size: 32
metadata: {}
