output:
  format: "json"
  dir: "{{ artifact_extra_logs_dir }}/output"
  file: "output.json"
warmup: false
storage:
  type: local
dataset:
  file: "datasets/openorca_large_subset_011.jsonl"
  max_queries: 3000
  min_input_tokens: 0
  max_input_tokens: 2048
  max_output_tokens: 1024
  max_sequence_tokens: 2048
load_options:
  type: constant #Future options: loadgen, stair-step
  concurrency: {{ llm_load_test_run_concurrency }}
  duration: {{ llm_load_test_run_duration }}
plugin: "{{ llm_load_test_run_plugin }}"
plugin_options:
  streaming: True
  interface: "{{ llm_load_test_run_interface }}"
  model_name: "{{ llm_load_test_run_model_id }}"
  host: "{{ llm_load_test_run_host}}"
  port: "{{ llm_load_test_run_port}}"
extra_metadata:
  replicas: 1
