ci_presets:
  # name of the presets to apply, or null if no preset
  name: null
  # list of names of the presets to apply, or a single name, or null if no preset
  names: null

  single:
    clusters.create.type: single

  keep:
    clusters.create.keep: true
    clusters.create.ocp.tags.Project: PSAP/RHODS/Pipelines/home-dev
    clusters.create.ocp.tags.TicketId: 87

  light_cluster:
    clusters.create.ocp.deploy_cluster.target: cluster_light

  light:
    extends: [light_cluster]

  metal:
    clusters.sutest.is_metal: true
    clusters.driver.is_metal: true
    clusters.sutest.compute.dedicated: false
    clusters.driver.compute.dedicated: false

  not_metal:
    clusters.sutest.is_metal: false
    clusters.driver.is_metal: false

  icelake:
    extends: [metal]
    clusters.sutest.compute.dedicated: false
    clusters.driver.compute.dedicated: false

  scale_test:
    tests.pipelines.user_count: 100
    tests.pipelines.sleep_factor: 1

  load_aware:
    extends: [light_cluster, pipeline_pi]
    clusters.sutest.compute.dedicated: false
    clusters.driver.compute.dedicated: false
    tests.pipelines.user_count: 5
    clusters.create.ocp.tags.Project: PSAP/RHODS/Pipelines/load-aware
    clusters.create.ocp.tags.TicketId: 115

  pipeline_pi:
    tests.pipelines.notebook_filename: kfp_pi.ipynb
    tests.pipelines.notebook_directory: projects/pipelines/testing/notebooks/pi

  pipeline_hash:
    tests.pipelines.notebook_filename: kfp_hash.ipynb
    tests.pipelines.notebook_directory: projects/pipelines/testing/notebooks/hash

  pipeline_timed_multistage:
    tests.pipelines.notebook_filename: kfp_timed_multistage.ipynb
    tests.pipelines.notebook_directory: projects/pipelines/testing/notebooks/timed-multistage

secrets:
  dir:
    name: psap-ods-secret
    env_key: PSAP_ODS_SECRET_PATH
  # name of the file containing the properties of LDAP secrets
  s3_ldap_password_file: s3_ldap.passwords
  keep_cluster_password_file: get_cluster.password
  brew_registry_redhat_io_token_file: brew.registry.redhat.io.token
  opensearch_instances: opensearch.yaml
clusters:
  create:
    type: single # can be: single, ocp, managed
    keep: false
    name_prefix: pipelines-ci
    ocp:
      # list of tags to apply to the machineset when creating the cluster
      tags:
        TicketId: "87"
        Project: PSAP/RHODS/Pipelines
      deploy_cluster:
        target: cluster
      base_domain: psap.aws.rhperfscale.org
      version: 4.12.12
      region: us-west-2
      control_plane:
        type: m6a.xlarge
      workers:
        type: m6a.2xlarge
        count: 2
      compute:
        type: m6i.2xlarge

  sutest:
    is_metal: false
    lab:
      name: null
    compute:
      dedicated: true
      machineset:
        name: rhods-pipelines
        count: null
        taint:
          key: only-rhods-pipelines
          value: "yes"
          effect: NoSchedule
  driver:
    is_metal: false
    compute:
      dedicated: true
      machineset:
        name: test-pods
        count: null
        taint:
          key: only-test-pods
          value: "yes"
          effect: NoSchedule
  cleanup_on_exit: false
ldap:
  # Name of the LDAP identity provider.
  idp_name: RHODS_CI_LDAP
  users:
    # number of users to create
    count: 2000
    # prefix of the user names of the LDAP provider
    prefix: psapuser
rhods:
  catalog:
    image: brew.registry.redhat.io/rh-osbs/iib
    tag: 697386
    channel: alpha
    version: 2.9.0
    version_name: dspv2
  pipelines:
    application:
      name: sample
    namespace: pipelines-test
    namespace_label:
      key: dsp-scale-test
      value: "true"
  operator:
    # set to true to stop the RHODS operator
    stop: false

base_image:
  namespace: pipelines-scale-test
  imagestream: ci-artifacts
  repo:
    url: https://github.com/openshift-psap/topsail/
    tag: main
    ref: main
    ref_prefer_pr: true
    dockerfile_path: build/Dockerfile
  user:
    service_account: ci-artifacts
    role: cluster-admin
  minio:
    bucket_name: pipelines-scale-test-bucket
tests:
  pipelines:
    notebook_filename: kfp_hello_world.ipynb
    notebook_directory: projects/pipelines/testing/notebooks/hello-world
    user_count: 2
    sleep_factor: 1
    user_batch_size: 1
matbench:
  preset: null
  workload: projects.pipelines.visualizations.rhods-pipelines
  config_file: scale_test.yaml
  download:
    mode: prefer_cache
    url:
    url_file:
    # if true, copy the results downloaded by `matbench download` into the artifacts directory
    save_to_artifacts: false
  ignore_exit_code: true
  # directory to plot. Set by notebook_scale_test.sh before launching the visualization
  test_directory: null
  lts:
    generate: true
    horreum:
      test_name: null
    opensearch:
      export: false
      fail_test_on_fail: false
      instance: smoke
      index: pipelines
      index_prefix: ""
    regression_analyses:
      enabled: false
      # if the regression analyses fail, mark the test as failed
      fail_test_on_regression: false
