---
apiVersion: v1
kind: Namespace
metadata:
  name: trimaran
---
apiVersion: v1
kind: Secret
metadata:
  name: trimaran-scheduler-config
  namespace: trimaran
stringData:
  config.yaml: |
    apiVersion: kubescheduler.config.k8s.io/v1beta2
    kind: KubeSchedulerConfiguration
    leaderElection:
      leaderElect: false
    profiles:
    - schedulerName: trimaran-scheduler
      plugins:
        score:
          disabled:
          - name: NodeResourcesBalancedAllocation
          - name: NodeResourcesLeastAllocated
          enabled:
          - name: {{ load_aware_deploy_trimaran_plugin | default('NA') }}
      pluginConfig:
      - name: {{ load_aware_deploy_trimaran_plugin | default('NA') }}
        args:
{% if load_aware_deploy_trimaran_plugin | default('NA') == "TargetLoadPacking" %}
          defaultRequests:
            cpu: "{{ load_aware_deploy_trimaran_default_requests_cpu | default('NA') }}"
          defaultRequestsMultiplier: "{{ load_aware_deploy_trimaran_default_target_requests_multiplier | default('NA') }}"
          targetUtilization: {{ load_aware_deploy_trimaran_target_utilization | default('NA') }}
{% else %}
          safeVarianceMargin: {{ load_aware_deploy_trimaran_safe_variance_margin | default('NA') }}
          safeVarianceSensitivity: {{ load_aware_deploy_trimaran_safe_variance_sensitivity | default('NA') }}
{% endif %}
          metricProvider:
            type: Prometheus
            address: https://{{ thanos_endpoint.stdout | default('NA') }}
            token: $MONITORING_TOKEN
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: trimaran-scheduler
  namespace: trimaran
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: trimaran
subjects:
- kind: ServiceAccount
  name: trimaran-scheduler
  namespace: trimaran
roleRef:
  kind: ClusterRole
  name: system:kube-scheduler
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trimaran-scheduler
  namespace: trimaran
  labels:
    app: trimaran-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trimaran-scheduler
  template:
    metadata:
      labels:
        app: trimaran-scheduler
    spec:
      serviceAccount: trimaran-scheduler
      volumes:
      - name: etckubernetes
        secret:
          secretName: trimaran-scheduler-config
      containers:
        - name: trimaran-scheduler
          env:
          - name: ENABLE_OPENSHIFT_AUTH
            value: "true"
          image: quay.io/chenw615/kube-scheduler:ocp
          imagePullPolicy: Always
          args:
          - /bin/kube-scheduler
          - --config=/etc/kubernetes/config.yaml
          - -v={{ load_aware_deploy_trimaran_log_level | default('NA') }}
          volumeMounts:
          - name: etckubernetes
            mountPath: /etc/kubernetes
