apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: isvc
spec:
  predictor:
    model:
      storageUri: s3://psap-hf-models/Llama-2-13b-chat-hf/Llama-2-13b-chat-hf
      env:
      - name: DEPLOYMENT_FRAMEWORK
        value: tgis_native
      - name: FLASH_ATTENTION
        value: "true"
      - name: MAX_NEW_TOKENS
        value: "4095"
      - name: MAX_SEQUENCE_LENGTH
        value: "4096"
      resources:
        requests:
          cpu: "8"
          memory: "40Gi"
          nvidia.com/gpu: "1"
        limits:
          nvidia.com/gpu: "1"
