{% set secrets_location = false | or_env(secrets.dir.env_key) %}
{% if not secrets_location %}
  {{ ("ERROR: secrets_location must be defined (secrets.dir.name="+ secrets.dir.name|string +" or env(secrets.dir.env_key=" + secrets.dir.env_key|string + ")) ") | raise_exception }}
{% endif %}
{% set s3_ldap_password_location = secrets_location + "/" + secrets.s3_ldap_password_file %}

# ---

rhods deploy_ods:
  catalog_image: {{ rhods.catalog.image }}
  tag: {{ rhods.catalog.tag }}
  channel: {{ rhods.catalog.channel }}
  version: {{ rhods.catalog.version }}

wisdom deploy_model:
  replicas: {{tests.config.replicas}}
  s3_secret_path: {{tests.config.s3_creds_model_secret_path}}
  quay_pull_secret_path: {{tests.config.quay_secret_path}}
  protos_path: {{tests.config.protos_path}}
  tester_imagestream_name: {{tests.config.tester_imagestream_name}}
  tester_image_tag: {{tests.config.tester_image_tag}}

wisdom warmup_model:
  protos_path: {{tests.config.protos_path}}
  tester_imagestream_name: {{tests.config.tester_imagestream_name}}
  tester_image_tag: {{tests.config.tester_image_tag}}

wisdom run_llm_load_test:
  requests: {{tests.config.requests}}
  concurrency: {{tests.config.concurrency}}
  replicas: {{tests.config.replicas}}
  dataset_path: {{tests.config.dataset_path}}
  s3_secret_path: {{tests.config.s3_creds_results_secret_path}}
  protos_path: {{tests.config.protos_path}}
  tester_imagestream_name: {{tests.config.tester_imagestream_name}}
  tester_image_tag: {{tests.config.tester_image_tag}}

wisdom run_llm_load_test_multiplexed:
  requests: {{tests.config.requests}}
  concurrency: {{tests.config.concurrency}}
  replicas: {{tests.config.replicas}}
  max_duration: {{tests.config.max_duration}} #TODO
  dataset_path: {{tests.config.dataset_path}}
  s3_secret_path: {{tests.config.s3_creds_results_secret_path}}
  protos_path: {{tests.config.protos_path}}
  tester_imagestream_name: {{tests.config.tester_imagestream_name}}
  tester_image_tag: {{tests.config.tester_image_tag}}
