apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: addon-managed-odh-catalog
  namespace: openshift-marketplace
spec:
  displayName: Managed Open Data Hub Operator
  image: quay.io/modh/qe-catalog-source:{{ rhods_catalog_version }}
  publisher: OSD Red Hat Addons
  sourceType: grpc
  secrets:
  - modh-idh-cluster-image-puller-pull-secret
