---
apiVersion: v1
kind: Service
metadata:
  name: {{ cpt_deploy_cpt_dashboard_name }}
  namespace: {{ cpt_deploy_cpt_dashboard_namespace }}
  labels:
    app.kubernetes.io/name: {{ cpt_deploy_cpt_dashboard_name }}
spec:
  type: ClusterIP
  ports:
  - name: tcp-cpt-dashboard-frontend
    port: 8000
    targetPort: dash-frontend
  - name: tcp-cpt-dashboard-backend
    port: 3000
    targetPort: dash-backend
  selector:
    app.kubernetes.io/name: {{ cpt_deploy_cpt_dashboard_name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ cpt_deploy_cpt_dashboard_name }}
  namespace: {{ cpt_deploy_cpt_dashboard_namespace }}
  labels:
    app.kubernetes.io/name: {{ cpt_deploy_cpt_dashboard_name }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ cpt_deploy_cpt_dashboard_name }}
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ cpt_deploy_cpt_dashboard_name }}
      annotations:
        alpha.image.policy.openshift.io/resolve-names: '*'
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      # Frontend
      - name: frontend
        image: {{ cpt_deploy_cpt_dashboard_frontend_istag }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        ports:
        - name: dash-frontend
          containerPort: 3000
      # Backend
      - name: backend
        image: {{ cpt_deploy_cpt_dashboard_backend_istag }}
        command: [bash, -cxe]
        args:
        - |
          # inside 'bash -ce' to avoid leaking the password because of the -x
          bash -ce 'sed  s/PASSWORD_SET_AT_RUNTIME/$OPENSEARCH_PASSWORD/ /mnt/cpt-dashboard-config/ocpperf.yaml > ocpperf.yaml'
          exec bash ./scripts/start.sh
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        env:
        - name: OPENSEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ cpt_deploy_cpt_dashboard_name }}-creds
              key: OPENSEARCH_PASSWORD
        ports:
        - name: dash-backend
          containerPort: 8000
        volumeMounts:
        - mountPath: /mnt/cpt-dashboard-config
          name: cpt-dashboard-config
      # ---
      volumes:
      - name: cpt-dashboard-config
        configMap:
          name: {{ cpt_deploy_cpt_dashboard_name }}-config
