{{ cpt_deploy_cpt_dashboard_plugin_name }}:
  elasticsearch:
    url: "{{ cpt_deploy_cpt_dashboard_es_url }}"
    indice: "{{ cpt_deploy_cpt_dashboard_es_indice }}"
    username: "{{ cpt_deploy_cpt_dashboard_es_username }}"
    password: "PASSWORD_SET_AT_RUNTIME"

ocp-server:
  port: 8000

airflow:
  url:
  username:
  password:
