apiVersion: v1
kind: Pod
metadata:
  name: {{ benchmarking_mlperf_ssd_name }}
  namespace: {{ benchmarking_run_mlperf_ssd_namespace }}
spec:
  restartPolicy: Never
  # Force the Pod to run on the same Node where the PVC was bound
  nodeSelector:
    kubernetes.io/hostname: {{ benchmarking_run_mlperf_ssd_node_hostname }}
  containers:
  - name: mlperf
    image: quay.io/openshift-psap/topsail:mlperf-ssd-training-benchmark
    resources:
      limits:
        nvidia.com/gpu: 1
    volumeMounts:
    - name: entrypoint-volume
      mountPath: /mnt/entrypoint/entrypoint.sh
      readOnly: false
      subPath: entrypoint.sh
    - mountPath: /storage/
      name: storage-volume
    - mountPath: /dev/shm
      name: dshm
    command:
    - bash
    - -c
    - "/mnt/entrypoint/entrypoint.sh"
    env:
    - name: BENCHMARKING_EPOCHS
      value: "{{ benchmarking_run_mlperf_ssd_epochs }}"
    - name: BENCHMARKING_THRESHOLD
      value: "{{ benchmarking_run_mlperf_ssd_threshold }}"
  volumes:
  - name: entrypoint-volume
    configMap:
      defaultMode: 0777
      name: {{ benchmarking_run_mlperf_ssd_entrypoint_cm_name }}
  - name: storage-volume
    persistentVolumeClaim:
      claimName: {{ benchmarking_run_mlperf_ssd_dataset_pvc_name }}
  - name: dshm
    emptyDir:
      medium: Memory
