---
- name: Create the artifacts directory
  file:
    path: "{{ artifact_extra_logs_dir }}/artifacts"
    state: directory
    mode: '0755'

- name: Run the llama-bench benchmark
  shell: |
    time {{ mac_ai_remote_llama_cpp_run_bench_prefix }} {{ mac_ai_remote_llama_cpp_run_bench_path }}/llama-bench \
        --model {{ mac_ai_remote_llama_cpp_run_bench_model_name }} \
        --n-gpu-layers {{ mac_ai_remote_llama_cpp_run_bench_ngl }} \
    {% if mac_ai_remote_llama_cpp_run_bench_verbose -%}
        --verbose \
    {% endif -%}
        &> "{{ artifact_extra_logs_dir }}/artifacts/llama-bench.log" &

    TASK_PID=$!
    ( sleep $((60*25)); kill $TASK_PID 2>/dev/null ) &
    TIMER_PID=$!

    wait $TASK_PID 2>/dev/null
    RESULT=$?

    kill $TIMER_PID 2>/dev/null

    if [ $RESULT -eq 143 ] || [ $RESULT -eq 137 ]; then
      echo "Task timed out!"
      exit 1
    elif [ ! $RESULT -eq 0 ]; then
      echo "Task failed ($RESULT) :/"
      exit 1
    else
      echo "Task completed successfully."
    fi

  when: mac_ai_remote_llama_cpp_run_bench_llama_bench | bool

- name: Run the test-backend-ops perf benchmark
  shell: |
    {{ mac_ai_remote_llama_cpp_run_bench_prefix }} {{ mac_ai_remote_llama_cpp_run_bench_path }}/test-backend-ops perf \
        2> "{{ artifact_extra_logs_dir }}/artifacts/test-backend-ops_perf.stderr.log" \
        > "{{ artifact_extra_logs_dir }}/artifacts/test-backend-ops_perf.log"
  when: mac_ai_remote_llama_cpp_run_bench_test_backend_ops | bool
