---
- name: Map execution properties dictionary to short alias
  set_fact:
    exec_props: "{{ container_bench_sysbench_cpu_benchmark_exec_props }}"

- name: Extract individual properties from exec_props dictionary
  set_fact:
    binary_path: "{{ exec_props.binary_path }}"
    additional_args: "{{ exec_props.additional_args }}"
    exec_time_path: "{{ exec_props.exec_time_path }}"
    rootfull: "{{ exec_props.rootfull }}"

- name: Set benchmark commands
  set_fact:
    image_to_pull: "quay.io/jrodak/sysbench:latest"
    log_file_name: "cpu_benchmark.log"
    prepare_commands: ""
    cleanup_commands: |
      {{ binary_path }} {{ additional_args }} rmi -f quay.io/jrodak/sysbench:latest
    benchmark_command: |
      {{ binary_path }} {{ additional_args }} run --rm quay.io/jrodak/sysbench:latest cpu --cpu-max-prime=20000 run

- name: Include Unix/Linux tasks
  include_tasks: "../../shared_tasks/unix_synthetic_benchmark_body.yml"
  when: ansible_os_family != 'Windows'

- name: Include Windows tasks
  include_tasks: "../../shared_tasks/windows_synthetic_benchmark_body.yml"
  when: ansible_os_family == 'Windows'
