---
- name: Ensure that the parent directory exists
  ansible.builtin.file:
    state: directory
    path: "{{ remote_download_dest | dirname }}"
    mode: '0755'

- name: Download the source file
  ansible.builtin.get_url:
    url: "{{ remote_download_source }}"
    dest: "{{ remote_download_dest }}"
    mode: "{{ '0755' if remote_download_executable | bool else '0644' }}"
    force: "{{ remote_download_force }}"

- name: Compute the sha of the file
  ansible.builtin.stat:
    path: "{{ remote_download_dest }}"
    checksum_algorithm: sha256
  register: dest_stat_sha

- name: Show the sha of the file
  command: echo "{{ dest_stat_sha.stat.checksum }}"

- name: Extract the tarball
  command:
    tar xf "{{ remote_download_dest }}" -C "{{ remote_download_dest | dirname }}"
  when:
  - remote_download_tarball | bool

- name: Extract the zipball (MacOS)
  command:
    bsdtar -xf "{{ remote_download_dest }}" -C "{{ remote_download_dest | dirname }}"
  when:
  - remote_download_zip | bool
  - ansible_os_family == 'Darwin'

- name: Extract the zipball (Linux)
  command:
    unzip -q "{{ remote_download_dest }}" -d "{{ remote_download_dest | dirname }}"
  when:
  - remote_download_zip | bool
  - ansible_os_family == 'Linux'
