---
apiVersion: v1
kind: Namespace
metadata:
  name: trimaran
---
apiVersion: v1
kind: Secret
metadata:
  name: trimaran-scheduler-config
  namespace: trimaran
stringData:
  config.yaml: |
    apiVersion: kubescheduler.config.k8s.io/v1
    kind: KubeSchedulerConfiguration
    leaderElection:
      leaderElect: false
    profiles:
    - schedulerName: trimaran-scheduler
      plugins:
        score:
          disabled:
          - name: NodeResourcesBalancedAllocation
          - name: NodeResourcesLeastAllocated
          enabled:
          - name: {{ load_aware_deploy_trimaran_plugin }}
      pluginConfig:
      - name: {{ load_aware_deploy_trimaran_plugin }}
        args:
{% if load_aware_deploy_trimaran_plugin == "TargetLoadPacking" %}
          defaultRequests:
            cpu: "{{ load_aware_deploy_trimaran_default_requests_cpu }}"
          defaultRequestsMultiplier: "{{ load_aware_deploy_trimaran_default_target_requests_multiplier }}"
          targetUtilization: {{ load_aware_deploy_trimaran_target_utilization }}
{% elif load_aware_deploy_trimaran_plugin == "LoadVariationRiskBalancing" %}
          safeVarianceMargin: {{ load_aware_deploy_trimaran_safe_variance_margin }}
          safeVarianceSensitivity: {{ load_aware_deploy_trimaran_safe_variance_sensitivity }}
{% else %}
          smoothingWindowSize: {{ load_aware_deploy_trimaran_smoothing_window_size }}
          riskLimitWeights:
            cpu: {{ load_aware_deploy_trimaran_risk_limit_weights_cpu }}
            memory: {{ load_aware_deploy_trimaran_risk_limit_weights_memory }}
{% endif %}
          metricProvider:
            type: Prometheus
            address: {{ thanos_endpoint }}
            token: $MONITORING_TOKEN
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: trimaran-scheduler
  namespace: trimaran
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: trimaran
subjects:
- kind: ServiceAccount
  name: trimaran-scheduler
  namespace: trimaran
roleRef:
  kind: ClusterRole
  name: system:kube-scheduler
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trimaran-scheduler
  namespace: trimaran
  labels:
    app: trimaran-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trimaran-scheduler
  template:
    metadata:
      labels:
        app: trimaran-scheduler
    spec:
      serviceAccount: trimaran-scheduler
      volumes:
      - name: etckubernetes
        secret:
          secretName: trimaran-scheduler-config
      containers:
        - name: trimaran-scheduler
          env:
          - name: ENABLE_OPENSHIFT_AUTH
            value: "true"
          image: quay.io/chenw615/kube-scheduler:ocp
          imagePullPolicy: Always
          args:
          - /bin/kube-scheduler
          - --config=/etc/kubernetes/config.yaml
          - -v={{ load_aware_deploy_trimaran_log_level }}
          volumeMounts:
          - name: etckubernetes
            mountPath: /etc/kubernetes
