apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {{ catalog_name }}
  namespace: {{ rhods_namespace }}
spec:
  displayName: {{ rhods_catalog_display_name }}
  image: {{ rhods_deploy_ods_catalog_image }}:{{ rhods_deploy_ods_tag }}
  publisher: {{ rhods_catalog_publish }}
  sourceType: grpc
  grpcPodConfig:
    securityContextConfig: restricted
  secrets:
  - modh-idh-cluster-image-puller-pull-secret
