---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: ci-artifacts
  name: {{ utils_build_push_image_image_local_name }}-{{ utils_build_push_image_tag }}
spec:
  output:
    to:
      kind: ImageStreamTag
      name: {{ utils_build_push_image_image_local_name }}:{{ utils_build_push_image_tag }}
{% if utils_build_push_image_memory|length %}
  resources:
    requests:
      memory: {{ utils_build_push_image_memory }}Gi
{% endif %}

  source:
{% if utils_build_push_image_git_repo|length %}
    type: Git
    git:
      uri: {{ utils_build_push_image_git_repo }}
      ref: {{ utils_build_push_image_git_ref }}
    contextDir: {{ utils_build_push_image_context_dir }}
{% elif dockerfile_content_cmd.stdout|length %}
    dockerfile: |
{{ dockerfile_content_cmd.stdout | indent(6, True) }}
{% endif %}
  strategy:
    type: Docker
    dockerStrategy:
{% if utils_build_push_image_dockerfile_path and utils_build_push_image_git_repo %}
      dockerfilePath: {{ utils_build_push_image_dockerfile_path }}
{% endif %}
{% if utils_build_push_image_from_image %}
      from:
        kind: DockerImage
        name: {{ utils_build_push_image_from_image }}
{% elif utils_build_push_image_from_imagetag %}
      from:
        kind: ImageStreamTag
        name: {{ utils_build_push_image_from_imagetag }}
{% endif %}
  triggers:
    - type: ConfigChange
