#!/bin/bash

set -o pipefail
set -o errexit
set -o nounset
set -o errtrace

echo "--- Starting User Data Script ---"

DEVICE_NAME=xvdf4

MOUNT_POINT="/mnt/"
echo "Device identified as /dev/${DEVICE_NAME}"
mkdir -p ${MOUNT_POINT}
sudo mount /dev/${DEVICE_NAME} ${MOUNT_POINT}


echo "--- Filesystem mounted ---"

sudo dnf install -y git > /dev/null

# --- !!! YOUR MODIFICATIONS GO HERE !!! ---

cd /tmp
git clone "{{ crc_timing_refresh_image_git_repo }}" -b "{{ crc_timing_refresh_image_git_branch }}"
cd snc
git show --quiet

export APPS_DOMAIN="apps-crc.testing"
envsubst '${APPS_DOMAIN}' < systemd/dnsmasq.sh.template > systemd/crc-dnsmasq.sh

ROOT_FS=$(echo $MOUNT_POINT/ostree/deploy/rhcos/deploy/*.0)
sudo cp systemd/*.sh $MOUNT_POINT/ostree/deploy/rhcos/var/usrlocal/bin/
sudo cp systemd/*.py $MOUNT_POINT/ostree/deploy/rhcos/var/usrlocal/bin/
sudo chmod ugo+x $MOUNT_POINT/ostree/deploy/rhcos/var/usrlocal/bin/*.sh
sudo chmod ugo+x $MOUNT_POINT/ostree/deploy/rhcos/var/usrlocal/bin/*.py
sudo cp systemd/*.service ${ROOT_FS}/etc/systemd/system
sudo cp systemd/*.target ${ROOT_FS}/etc/systemd/system
sudo cp -r systemd/*.d ${ROOT_FS}/etc/systemd/system


# --- !!! END OF MODIFICATIONS !!! ---

echo "--- Unmounting filesystem ---"
sudo umount ${MOUNT_POINT}
