apiVersion: v1
kind: ConfigMap
metadata:
  name: wisdom-warmup-entrypoint
  namespace: {{ wisdom_namespace }}
data:
  entrypoint.sh: |-
    #! /bin/bash
    CONCURRENCY={{ warmup_concurrency }}
    TOTAL_REQUESTS={{ warmup_total_requests }}

    echo "CONCURRENCY: ${CONCURRENCY}"
    echo "TOTAL_REQUESTS: ${TOTAL_REQUESTS}"
    echo "QUERY: ${QUERY}"
    echo "CONTEXT: ${CONTEXT}"

    PROMPT="- name: Install tensorflow on RHEL"
    CONTEXT=""

    cd /etc/protos 

    ghz --insecure --proto ./wisdomextservice.proto \
    --call caikit.runtime.WisdomExt.WisdomExtService/AnsiblePredict \
    -d "{ \"prompt\": \"${PROMPT}\", \"context\": \"${CONTEXT}\" }" \
    modelmesh-serving.{{ wisdom_namespace }}.svc:8033 \
    --metadata="{\"mm-vmodel-id\":\"ansible-wisdom\"}" \
    -c ${CONCURRENCY} \
    --total ${TOTAL_REQUESTS} \
    --disable-template-data \
    -t 240s
