apiVersion: datasciencecluster.opendatahub.io/v2
kind: DataScienceCluster
metadata:
  name: {{ datasciencecluster_name }}
spec:
  components:
{% for component in rhods_update_datasciencecluster_enable %}
    {{ component }}:
      managementState: Managed
{% endfor %}
