cluster build_push_image:
  namespace: "{{ base_image.namespace }}"
  image_local_name: "{{ base_image.imagestream }}"
  tag: "{{ base_image.repo.ref }}"
  _istag: "{{ base_image.imagestream }}:{{ base_image.repo.ref }}"

  git_repo: "{{ base_image.repo.url }}"
  git_ref: "{{ base_image.repo.ref }}"
  dockerfile_path: "{{ base_image.repo.dockerfile_path }}"

local_ci run/notebooks:
  namespace: "{{ base_image.namespace }}"
  istag: "{{ base_image.imagestream }}:{{ base_image.repo.ref }}"
  service_account: "{{ base_image.user.service_account }}"
  test_name: SET_AT_RUNTIME
  test_args: SET_AT_RUNTIME

  secret_name: "psap-ods-secret"
  secret_env_key: "{{ secrets['psap-ods-secret'].env_key }}"

  init_command: "run notebooks scale_test connect_ci"
  export_identifier: SET_AT_RUNTIME
  export_ts_id:  SET_AT_RUNTIME
  export_bucket_name: rhods-baremetal-results

  ci_command: SET_AT_RUNTIME
  pr_number: null # set at runtime
  pr_config: null # set at runtime if required

local_ci run/rhods:
  git_repo: "{{ base_image.repo.url }}"
  git_ref: "{{ base_image.repo.ref }}"

  namespace: "{{ base_image.namespace }}"
  istag: "{{ base_image.imagestream }}:{{ base_image.repo.ref }}"
  service_account: "{{ base_image.user.service_account }}"
  test_name: SET_AT_RUNTIME
  test_args: SET_AT_RUNTIME

  secret_name: "psap-ods-secret"
  secret_env_key: "{{ secrets['psap-ods-secret'].env_key }}"

  export_test_run_identifier: SET_AT_RUNTIME
  export_bucket_name: rhods-baremetal-results

  ci_command: SET_AT_RUNTIME
  pr_number: null # set at runtime
  pr_config: null # set at runtime if required
