---
- name: Map execution properties dictionary to short alias
  set_fact:
    exec_props: "{{ container_bench_pull_image_benchmark_exec_props }}"

- name: Extract individual properties from exec_props dictionary
  set_fact:
    binary_path: "{{ exec_props.binary_path }}"
    additional_args: "{{ exec_props.additional_args }}"
    exec_time_path: "{{ exec_props.exec_time_path }}"
    rootfull: "{{ exec_props.rootfull }}"

- name: Set images to pull
  set_fact:
    images_to_pull:
      - "docker.io/library/registry:2"
      - "docker.io/tensorflow/tensorflow:latest-gpu"

- name: Set sleep command
  set_fact:
    sleep_cmd: "{{ 'Start-Sleep -Seconds 5' if ansible_os_family == 'Windows' else 'sleep 5' }}"

- name: Set benchmark commands
  set_fact:
    prepare_commands: |
      {{ binary_path }} {{ additional_args }} run -d -p 5000:5000 --name registry docker.io/library/registry:2
      {{ sleep_cmd }}
      {% if 'podman' in binary_path %}
      {{ binary_path }} {{ additional_args }} image push --tls-verify=false docker.io/tensorflow/tensorflow:latest-gpu 127.0.0.1:5000/big:latest
      {% else %}
      {{ binary_path }} {{ additional_args }} image tag docker.io/tensorflow/tensorflow:latest-gpu 127.0.0.1:5000/big:latest
      {{ binary_path }} {{ additional_args }} image push 127.0.0.1:5000/big:latest
      {% endif %}
      {{ binary_path }} {{ additional_args }} rmi -f docker.io/tensorflow/tensorflow:latest-gpu
      {{ binary_path }} {{ additional_args }} rmi -f 127.0.0.1:5000/big:latest
    cleanup_commands: |
      {{ binary_path }} {{ additional_args }} rm -f registry
      {{ binary_path }} {{ additional_args }} rmi -f docker.io/library/registry:2
      {{ binary_path }} {{ additional_args }} rmi -f docker.io/tensorflow/tensorflow:latest-gpu
      {{ binary_path }} {{ additional_args }} rmi -f 127.0.0.1:5000/big:latest
    benchmark_command: |
      {% if 'podman' in binary_path %}
      {{ binary_path }} {{ additional_args }} pull --tls-verify=false 127.0.0.1:5000/big:latest
      {% else %}
      {{ binary_path }} {{ additional_args }} pull 127.0.0.1:5000/big:latest
      {% endif %}

- name: Include Unix/Linux tasks
  include_tasks: "../../shared_tasks/unix_default_benchmark_body.yml"
  when: ansible_os_family != 'Windows'

- name: Include Windows tasks
  include_tasks: "../../shared_tasks/windows_default_benchmark_body.yml"
  when: ansible_os_family == 'Windows'
