---
- name: Validate required variables are defined
  assert:
    that:
      - container_bench_pull_image_benchmark_exec_time_path is defined
      - container_bench_pull_image_benchmark_binary_path is defined
      - container_bench_pull_image_benchmark_rootfull is defined
      - container_bench_pull_image_benchmark_additional_args is defined
  when: false  # This task never runs but validates variable definitions

- name: Map long variable names to short aliases
  include_tasks: "../../shared_tasks/map_variables.yml"
  vars:
    benchmark_role_name: "container_bench_pull_image_benchmark"

- name: Set images to pull
  set_fact:
    images_to_pull:
      - "docker.io/library/registry:2"
      - "docker.io/tensorflow/tensorflow:latest-gpu"

- name: Set sleep command
  set_fact:
    sleep_cmd: "{{ 'Start-Sleep -Seconds 5' if ansible_os_family == 'Windows' else 'sleep 5' }}"

- name: Set benchmark commands
  set_fact:
    prepare_commands: |
      {{ binary_path }} {{ additional_args }} run -d -p 5000:5000 --name registry docker.io/library/registry:2
      {{ sleep_cmd }}
      {% if 'podman' in binary_path %}
      {{ binary_path }} {{ additional_args }} image push --tls-verify=false docker.io/tensorflow/tensorflow:latest-gpu 127.0.0.1:5000/big:latest
      {% else %}
      {{ binary_path }} {{ additional_args }} image tag docker.io/tensorflow/tensorflow:latest-gpu 127.0.0.1:5000/big:latest
      {{ binary_path }} {{ additional_args }} image push 127.0.0.1:5000/big:latest
      {% endif %}
      {{ binary_path }} {{ additional_args }} rmi -f docker.io/tensorflow/tensorflow:latest-gpu
      {{ binary_path }} {{ additional_args }} rmi -f 127.0.0.1:5000/big:latest
    cleanup_commands: |
      {{ binary_path }} {{ additional_args }} rm -f registry
      {{ binary_path }} {{ additional_args }} rmi -f docker.io/library/registry:2
      {{ binary_path }} {{ additional_args }} rmi -f docker.io/tensorflow/tensorflow:latest-gpu
      {{ binary_path }} {{ additional_args }} rmi -f 127.0.0.1:5000/big:latest
    benchmark_command: |
      {% if 'podman' in binary_path %}
      {{ binary_path }} {{ additional_args }} pull --tls-verify=false 127.0.0.1:5000/big:latest
      {% else %}
      {{ binary_path }} {{ additional_args }} pull 127.0.0.1:5000/big:latest
      {% endif %}

- name: Include Unix/Linux tasks
  include_tasks: "../../shared_tasks/unix_default_benchmark_body.yml"
  when: ansible_os_family != 'Windows'

- name: Include Windows tasks
  include_tasks: "../../shared_tasks/windows_default_benchmark_body.yml"
  when: ansible_os_family == 'Windows'
