apiVersion: v1
kind: Pod
metadata:
  labels:
    app: ci-artifacts
  name: {{ local_image_name }}-push-pod
  namespace: utils-ci
spec:
  containers:
  - command:
    - /bin/sh
    - /mnt/helper/run-helper-image-push.sh
    image: image-registry.openshift-image-registry.svc:5000/utils-ci/{{ local_image_name }}:helper
    name: {{ local_image_name }}-helper
    imagePullPolicy: Always
    securityContext:
      privileged: true
    env:
    #  - name: KUBECONFIG
    #    value: /etc/kubeconfig/kubeconfig
      - name: LOCAL_IMAGE
        value: "image-registry.openshift-image-registry.svc:5000/utils-ci/{{ local_image_name }}:{{ image_tag }}"
      - name: IMAGE_TAG
        value: "{{ image_tag }}"
      - name: QUAY_REPO
        value: "{{ quay_repo }}"
      - name: QUAY_AUTH_FILE
        value: "{{ auth_file }}"
    volumeMounts:
    - mountPath: /mnt/helper/run-helper-image-push.sh
      name: helper-image-script
      readOnly: true
      subPath: run-helper-image-push.sh
    - mountPath: /var/run/secrets/quay.io/push
      name: quay-dockercfg
      readOnly: true
    - mountPath: /var/run/secrets/openshift.io/push
      name: builder-dockercfg
      readOnly: true
    #- mountPath: /etc/kubeconfig
    #  name: kubeconfig-secret
    #  readOnly: true
  restartPolicy: Never
  volumes:
  - configMap:
      defaultMode: 511
      name: helper-image-script
    name: helper-image-script
  - name: quay-dockercfg
    secret:
      defaultMode: 384
      secretName: "{{ quay_push_secret_name }}"
  #- name: kubeconfig-secret
  #  secret:
  #    secretName: kubeconfig-secret
  - name: builder-dockercfg
    secret:
      defaultMode: 384
      secretName: "{{ builder_secret }}"
