---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: ci-artifacts
  name: {{ local_image_name }}
  namespace: utils-ci
spec:
  output:
    to:
      kind: ImageStreamTag
      name: {{ local_image_name }}:{{ image_tag }}
      namespace: utils-ci
{% if memory|length %}
  resources:
    requests:
      memory: {{ memory }}
{% endif %}
  source:
    type: Git
    git:
      uri: {{ git_repo }}
      ref: {{ branch }}
    contextDir: {{ git_path }}
  triggers:
    - type: ConfigChange
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
