secrets:
  dir:
    name: psap-ods-secret
    env_key: PSAP_ODS_SECRET_PATH
  private_key_filename: jumpci_privatekey
  bastion_host_filename: jumpci_bastion_host
  jump_host_filename: jumpci_jump_host
ssh_tunnel:
  # creates a tunnel to the bastion via the jump host, if enabled
  enabled: false
  local_host_port: 2500
  verbose: false # will leak host names if enabled
cluster:
  name: icelake
ssh:
  flags:
  - -oStrictHostKeyChecking=no
  - -oUserKnownHostsFile=/dev/null
  - -o LogLevel=ERROR
skip_list: {}
env:
  pass_lists:
    OPENSHIFT_CI_job: [JOB_TYPE, ENTRYPOINT_OPTIONS, JOB_NAME, JOB_SPEC, OPENSHIFT_CI, JOB_NAME_SAFE, BUILD_ID]
    OPENSHIFT_CI_git_pr: [PULL_PULL_SHA, PULL_NUMBER, PULL_BASE_REF, REPO_NAME, REPO_OWNER, PULL_BASE_SHA, JOB_NAME, PULL_TITLE, PULL_REFS, PULL_HEAD_REF]
    OPENSHIFT_CI_topsail: [TOPSAIL_OPENSHIFT_CI_STEP_DIR]
  _only_: false
  # keep these steps enabled for the jump-ci to work
  lock_cluster: true
  prepare_jump_ci: true
  unlock_cluster: true

  pre_cleanup_ci: null
  prepare_ci: null
  test_ci: null
  post_cleanup_ci: null
