ci_presets:
  # list of names of presets that have been applied
  names: null

  mac_ai:
    secrets.dir.name: crc-mac-ai-secret # not used
    secrets.dir.env_key: CRC_MAC_AI_SECRET_PATH

secrets:
  dir:
    name: psap-ods-secret
    env_key: PSAP_ODS_SECRET_PATH
  private_key_filename: jumpci_privatekey
  bastion_host_filename: jumpci_bastion_host
  bastion_host_user_filename: jumpci_bastion_host_user
  jump_host_filename: jumpci_jump_host

prepare:
  job_name_to_preset:
    pull-ci-openshift-psap-topsail-main-mac_ai-jump-ci: mac_ai

ssh_tunnel:
  # creates a tunnel to the bastion via the jump host, if enabled
  enabled: false
  local_host_port: 2500
  verbose: false # will leak host names if enabled
cluster:
  name: null
ssh:
  flags:
  - -oStrictHostKeyChecking=no
  - -oUserKnownHostsFile=/dev/null
  - -o LogLevel=ERROR
env:
  pass_lists:
    OPENSHIFT_CI_job: [JOB_TYPE, ENTRYPOINT_OPTIONS, JOB_NAME, JOB_SPEC, OPENSHIFT_CI, JOB_NAME_SAFE, BUILD_ID]
    OPENSHIFT_CI_git_pr: [PULL_PULL_SHA, PULL_NUMBER, PULL_BASE_REF, REPO_NAME, REPO_OWNER, PULL_BASE_SHA, JOB_NAME, PULL_TITLE, PULL_REFS, PULL_HEAD_REF]
    OPENSHIFT_CI_topsail: [TOPSAIL_OPENSHIFT_CI_STEP_DIR]
exec_list:
  _only_: false
  # keep these steps enabled for the jump-ci to work
  lock_cluster: true
  prepare_jump_ci: true
  unlock_cluster: true

  pre_cleanup_ci: null
  prepare_ci: null
  test_ci: null
  post_cleanup_ci: null
multi_run:
  args: []
  stop_on_error: false
