name: Check that there is no WIP commit in the PR

on:
  pull_request:
    branches: [main]

jobs:
  check_wip:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: ./.github/steps/prepare_minimal_ubuntu_image

    - name: Check that there is no WIP commit in the PR
      run: |
        ./run_toolbox.py repo validate_no_wip
