name: Check that there is no WIP commit in the PR

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          python3 -m pip install fire pyyaml jsonpath_ng joblib

      - name: Check that there is no WIP commit in the PR
        run: |
          ./run_toolbox.py repo validate_no_wip
