apiVersion: v1
kind: Pod
metadata:
 name: download-{{ data_source_name }}-to-{{ cluster_download_to_pvc_pvc_name }}
 namespace: {{ cluster_download_to_pvc_namespace }}
 labels:
   download-to-pvc: "yes"
spec:
  restartPolicy: Never
  containers:
  - name: downloader
    image: registry.access.redhat.com/ubi8/ubi
    command: [bash, /mnt/entrypoint/entrypoint.sh]
    env:
    - name: DOWNLOAD_SOURCE
      value: "{{ cluster_download_to_pvc_source }}"
{% if cluster_download_to_pvc_creds|length %}
    - name: CRED_FILE
      value: /mnt/download-secret/cred
{% endif %}
    - name: SOURCE_NAME
      value: {{ cluster_download_to_pvc_name }}
    - name: STORAGE_DIR
      value: /storage/{{ cluster_download_to_pvc_storage_dir }}
    - name: CLEAN_FIRST
      value: "{{ cluster_download_to_pvc_clean_first }}"
    volumeMounts:
{% if cluster_download_to_pvc_creds|length %}
    - name: download-secret
      mountPath: /mnt/download-secret
      readOnly: true
{% endif %}
    - name: entrypoint-cm
      mountPath: /mnt/entrypoint/entrypoint.sh
      readOnly: true
      subPath: entrypoint.sh
    - name: storage
      mountPath: /storage
  volumes:
{% if cluster_download_to_pvc_creds|length %}
  - name: download-secret
    secret:
      secretName: download-secret-{{ data_source_name }}
{% endif %}
  - name: storage
    persistentVolumeClaim:
      claimName: {{ cluster_download_to_pvc_pvc_name }}
  - name: entrypoint-cm
    configMap:
      defaultMode: 0777
      name: download-to-pvc-{{ data_source_name }}
