apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ cluster_download_to_pvc_pvc_name }}
  namespace: {{ cluster_download_to_pvc_namespace }}
spec:
  accessModes:
    - {{ cluster_download_to_pvc_pvc_access_mode }}
  resources:
    requests:
      storage: 80Gi
