{% set scale_test_imagestream = "image-registry.openshift-image-registry.svc:5000/"+ tests.model_mesh.namespace +"/"+ tests.model_mesh.imagestream_name %}

{% set secrets_location = secrets.dir.name | or_env(secrets.dir.env_key) %}
{% set s3_ldap_password_location = secrets_location + "/" + secrets.s3_ldap_password_file %}

#

cluster build_push_image/artifacts-exporter:
  namespace: {{ tests.model_mesh.namespace }}
  dockerfile_path: testing/notebooks/images/Containerfile.s3_artifacts_exporter
{% set artifacts_exporter_istag = "artifacts-exporter" %}
  image_tag: {{ artifacts_exporter_istag }}
  local_image_name: {{ tests.model_mesh.imagestream_name }}

cluster preload_image/artifacts-exporter:
  namespace: {{ tests.model_mesh.namespace }}
  name: {{ artifacts_exporter_istag }}
  image: {{ scale_test_imagestream }}:{{ artifacts_exporter_istag }}

#

cluster build_push_image/locust-scale-test:
  namespace: {{ tests.model_mesh.namespace }}
  dockerfile_path: testing/notebooks/images/Containerfile.api_scale_test
{% set locust_scale_test_istag = "api-scale-test" %}
  image_tag: {{ locust_scale_test_istag }}
  local_image_name: {{ tests.model_mesh.imagestream_name }}

cluster preload_image/locust-scale-test:
  namespace: {{ tests.model_mesh.namespace }}
  name: {{ locust_scale_test_istag }}
  image: {{ scale_test_imagestream }}:{{ locust_scale_test_istag }}

#

cluster deploy_minio_s3_server:
  secret_properties_file: {{ s3_ldap_password_location }}

#

rhods notebook_api_scale_test:
  namespace: {{ tests.model_mesh.namespace }}
  idp_name: NO_IDP
  secret_properties_file: {{ s3_ldap_password_location }}
  username_prefix: NO_USER
  test_name: NO_TEST
  user_count: 100
  artifacts_exporter_istag: "{{ tests.model_mesh.imagestream_name }}:{{ artifacts_exporter_istag }}"
  api_scale_test_istag: "{{ tests.model_mesh.imagestream_name }}:{{ locust_scale_test_istag }}"
