---
- name: Set the index of the cr to deploy
  set_fact:
    cr_index: "{% if cluster_deploy_operator_deploy_cr is sameas true %}0{% else %}{{ cluster_deploy_operator_deploy_cr }}{% endif %}"
- name: Get the CR of the operator from the CSV
  shell:
    set -o pipefail;
    oc get "csv/{{ operator_csv_name }}"
       -n "{{ cluster_deploy_operator_namespace }}"
       -ojsonpath={.metadata.annotations."alm-examples"}
    | jq .[{{ cr_index }}] > "{{ artifact_extra_logs_dir }}/003_operator_cr.json"

- name: Create the operator CR
  command:
    oc apply
       -f "{{ artifact_extra_logs_dir }}/003_operator_cr.json"
       -n "{{ cluster_deploy_operator_namespace }}"
